# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Individual object files
c01/clwc
c01/c2f
c01/cc
c01/ccb
c01/cl
c01/f2c
c01/f2cb
c01/f2cc
c01/f2cd
c01/gpc
c01/gpcb
c01/hello
c01/printeof
c01/arrays1
c01/power
c01/power2
